h4 {
  color: #fec260;
}
.navbar-custom {
  background-color: #2a0944;
}
.title {
  size: 3.5rem;
  line-height: 1.5;
  padding: 1rem 5rem 1rem;
  margin: 0 20%;
  background-color: #a12568;
}
.head-title {
  margin: 2.5rem 0;
  color: #fec260;
}
.log-button {
  margin: 5% 3% 5% 0;
}
.card:hover {
  transform: scale(1.1);
}
.card {
  margin: 15% auto 15%;
}
.cards-heading {
  text-align: center;
  padding: 5%;
}
.video-carousel {
  background-color: #f0d9ff;
}

/*title iamge part*/
.row title{
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}
.title-image{
  width: 40%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}
@media(max-width:1028px) {
  .title-image {
    width: 40%;
    position: static;
    transform: rotate(0);

  }




#phoneno{
  background-color: #FEC260;
  padding: 50px;
  margin: 20px;
}
#sendIt2{
  background-color: #3B185F;
  color: white;
  background-image: linear-gradient(
40deg
, #bf68e6 20%, #9e48cd 51%, #bf68e6 90% );
}

/*why finowiz*/
.row{
  text-align: center;
  font-size: 25px;
}
.logo{
  width: 400px;
  padding: 1.5%;

}


/*tick*/
#tick{
  text-align: center;
}
.knowmore{
  text-align: center;
  padding: 1.5%;
}

/*features section*/
#features {
  position: relative;
}
.feature-title{
  font-size: 1.5rem;
}
.feature-box {
  padding: 1.5%;
}
.h1feature{
  text-align: center;
  background-color: #A12568;
  color: white;
}


#testimonials {
  background-color: #A12568;
}
.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
}

.community-custom {
  margin: 15% auto 15%;
  padding: 5% 0;
}
.community-title {
  margin: auto 5%;
}
.community-image {
  margin: 5%;
}

.community-text {
  margin: 5%;
}
.icons {
  padding: 10%;
}
.footer {
  text-align: center;
  margin: 5% 7%;
}
